@font-face {
    font-family: 'iconfont'; /* Project id 4092181 */
    src: url('../font/iconfont.woff2?t=1691378583324') format('woff2'), url('../font/iconfont.woff?t=1691378583324') format('woff'),
        url('../font/iconfont.ttf?t=1691378583324') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-VS:before {
    content: '\e609';
}

.icon-dianzan1:before {
    content: '\e608';
}

.icon-plus1:before {
    content: '\e607';
}

.icon-xiazaiduizhanbiao:before {
    content: '\e63b';
}

.icon-xiazaichengjice:before {
    content: '\e63c';
}

.icon-cansaishuju:before {
    content: '\e63d';
}

.icon-Outline-1:before {
    content: '\e63a';
}

.icon-me:before {
    content: '\e636';
}

.icon-shouye:before {
    content: '\e637';
}

.icon-saishi:before {
    content: '\e638';
}

.icon-bansai:before {
    content: '\e639';
}

.icon-lianxiren:before {
    content: '\e635';
}

.icon-arrow-up:before {
    content: '\e61d';
}

.icon-minus:before {
    content: '\e61e';
}

.icon-arrow-left:before {
    content: '\e628';
}

.icon-select:before {
    content: '\e62b';
}

.icon-arrow-down:before {
    content: '\e632';
}

.icon-plus:before {
    content: '\e633';
}

.icon-arrow-right:before {
    content: '\e634';
}

.icon-star:before {
    content: '\e600';
}

.icon-warn:before {
    content: '\e601';
}

.icon-flag:before {
    content: '\e732';
}

.icon-shaixuan1:before {
    content: '\e617';
}

.icon-ditushixi:before {
    content: '\e61c';
}

.icon-shaixuan:before {
    content: '\e631';
}

.icon-fenxiang:before {
    content: '\e629';
}

.icon-piaojia:before {
    content: '\e62a';
}

.icon-tongzhi:before {
    content: '\e62c';
}

.icon-anquanxuzhi:before {
    content: '\e62d';
}

.icon-lianxishangjia:before {
    content: '\e62e';
}

.icon-rili:before {
    content: '\e62f';
}

.icon-wodeshoucang:before {
    content: '\e630';
}

.icon-shezhi:before {
    content: '\e606';
}

.icon-bangding:before {
    content: '\e626';
}

.icon-jiebang:before {
    content: '\e627';
}

.icon-dingdan:before {
    content: '\e603';
}

.icon-dianzan:before {
    content: '\e602';
}

.icon-jinbi:before {
    content: '\e625';
}

.icon-saishizhibo:before {
    content: '\e624';
}

.icon-wode:before {
    content: '\e60c';
}

.icon-dingwei:before {
    content: '\e60d';
}

.icon-jiudianchuhang:before {
    content: '\e60f';
}

.icon-saichengsaiguo:before {
    content: '\e610';
}

.icon-shangwuhezuo:before {
    content: '\e611';
}

.icon-saishishuju:before {
    content: '\e613';
}

.icon-fuwu-xuanzhong:before {
    content: '\e614';
}

.icon-jianlutuisong:before {
    content: '\e615';
}

.icon-jingcaishunjian:before {
    content: '\e616';
}

.icon-jinhangzhong:before {
    content: '\e618';
}

.icon-renqibang:before {
    content: '\e61a';
}

.icon-shijian:before {
    content: '\e61b';
}

.icon-saishiredu:before {
    content: '\e61f';
}

.icon-tansuomeijing:before {
    content: '\e620';
}

.icon-faxianmeishi:before {
    content: '\e621';
}

.icon-shoucang:before {
    content: '\e623';
}

.icon-a-Outline_Users_UserId:before {
    content: '\e605';
}

.icon-left:before {
    content: '\e67e';
}

.icon-home:before {
    content: '\e622';
}
